/* Stili per i bottoni renderli visibili */
#printBtn, #newCalcBtn, #backBtn, #logout-btn {
    display: inline-block !important;
    color: white !important;
    background-color: #FF7F27 !important;
}

#logout-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
}

/* Stili personalizzati per l'applicazione Calcolo Compensi */

@media print {
    body * {
        visibility: hidden;
    }
    
    #risultatoCalcolo,
    #risultatoCalcolo * {
        visibility: visible;
    }
    
    #risultatoCalcolo {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    
    #printBtn,
    #newCalcBtn,
    #backBtn {
        display: none;
    }
}
